@{
    ViewBag.Title = "TreeGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>TreeGrid Features:</h2>
<br/>
<li> Sorting</li>
<li> Paging</li>
<li> Editing - Row</li>
<li> Filtering Hierarchy Mode - Child</li>
<li> Search Hierarchy Mode - Child</li>
<li> Theme - Fluent</li>
<br/>
<div id = "ControlRegion">
<div class="control-section">
        <ejs-treegrid id="TreeGrid" dataSource="ViewBag.dataSource" allowFiltering="true" allowSorting="true" allowPaging="true" childMapping="Children" expandStateMapping="IsExpanded" treeColumnIndex="0" toolbar="@(new List<string>() { "ExpandAll", "CollapseAll","Add","Edit", "Delete", "Update", "Cancel", "Search" })">
        <e-treegrid-filtersettings type="@Syncfusion.EJ2.TreeGrid.FilterType.FilterBar" hierarchyMode="Child" mode="Immediate"></e-treegrid-filtersettings>
        <e-treegrid-pagesettings pageSize="5"></e-treegrid-pagesettings>
        <e-treegrid-searchsettings hierarchyMode="Child"></e-treegrid-searchsettings>
        <e-treegrid-editsettings allowAdding="true" mode="Row" allowEditing="true" allowDeleting="true" newRowPosition="Below"></e-treegrid-editsettings>
        <e-treegrid-columns>
            <e-treegrid-column field="TaskId" headerText="Task ID" textAlign="Right" width="80" isPrimaryKey="true" validationRules="@(new { required=true, number=true})"></e-treegrid-column>
            <e-treegrid-column field="TaskName" headerText="Task Name" width="200" validationRules="@(new { required=true, number=false})"></e-treegrid-column>
            <e-treegrid-column field="StartDate" headerText=" Start Date" textAlign="Right" format="yMd" type="date" width="100" validationRules="@(new { required=true})"></e-treegrid-column>
            <e-treegrid-column field="EndDate" headerText=" End Date" textAlign="Right" format="yMd" type="date" width="100"></e-treegrid-column>
            <e-treegrid-column field="Duration" headerText="Duration" textAlign="Right" width="120" validationRules="@(new { number=true})"></e-treegrid-column>
            <e-treegrid-column field="Approved" headerText="Approved" textAlign="Right" width="90" type="boolean" editType="booleanedit"></e-treegrid-column>
        </e-treegrid-columns>
    </ejs-treegrid>
</div>
</div>
